.badge {
  width: fit-content;
  padding: 3px 10px;
  border-radius: 20px;
  color: var(--text-color);
  background-color: #c5baff;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.primary {
  background-color: #2973b2;
}

.success {
  background-color: #4bb543;
}

.warning {
  background-color: #f5a623;
}

.alert {
  background-color: #ff0000;
}


